# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Testing / coverage
coverage/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Prisma generated client
apps/api/src/generated/prisma/
packages/database/src/generated/prisma/

# TypeScript
*.tsbuildinfo